@model AvoidScurvyMVCApplication.Models.ProductViewing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductViewing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerServing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerServing)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductViewingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
