@model IEnumerable<AvoidScurvyMVCApplication.Models.ProductViewing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerServing)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerServing)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductViewingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductViewingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductViewingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
